/* --- Main Settings --- */
/* Colors: Rose #775153, Gold #b2977a, Grey: #2a2a2a, White #dddad7 */

body {
    font-family: 'Monaco', monospace!important;


}
body.custom-background {
    background-image: url('../images/nasa_background.jpeg');
    background-repeat: repeat;
    background-size: 100%;
    background-position: top left;
    background-attachment: fixed;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* --- About / Contact Col --- */

.about_col {
    background-color: #775153;
    color: #dddad7;
}
.bio_name blockquote {
    font-style: italic;

}
.bio_name blockquote span {
    font-style:normal;
    font-size: 14px;
}
.bio_about img {
    max-width: 240px;
}
.bio_contact img {
    max-width: 24px;
    margin-right: 6px;
}
.about_col ul {
    list-style-type:none;
}
.bio_skills, .bio_contact {
    background-color: #2a2a2a;
    border: 1px solid rgba(224, 176, 150, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.bio_skills {
    background-image: url('../images/technology.png');
    background-size: 25%;
    background-position: top 6px left 6px;
    background-repeat: no-repeat;
}

/* --- Navbar - Main Col --- */

.navbar {
    padding: 0px;
    text-align: center;
}

.navbar-nav .nav-item {
    width: 50%;
}
.navbar a, .project a {
    color: #b29478;
    text-decoration: none;
    font-size: 22px;
}
.nav-link.active{
    color: #2a2a2a;
    font-size: 28px;
    font-weight: bold;
    background-color: #b29478!important;
    height:100%;
}

.navbar a:hover, .project a:hover {
    color: #775153;
}

/* --- Main Col --- */

.main_content {
    background-color: #b2977a;
    border: 2px solid rgba(119, 81, 83, 0.8);
    padding: 0;
}

.bio_job, .project {
    background-color: #2a2a2a;
    border: 1px solid rgba(224, 176, 150, 0.3);
    padding: 15px;
    border-radius: 5px;
}

/* --- Bio Job / Job Detail --- */

.bio_job_description {
    color: #dddad7;
    font-family: 'Fira Code', 'Courier New', monospace;
    background-color: #1e1e1e;

    border: 1px solid #77515342;
    border-radius: 5px;
}

.bio_job_data {
    padding: 0 5%;
}

.modal-content {
    background-color: #2a2a2a;
    color: #dddad7;
}

.modal-header, .modal-footer {
    border-color: #333333;
    background-color: #b2977a;
    color: #2a2a2a;
}

/* --- Projects in portfolio --- */

.project img {
    max-height: 180px
}

/* --- Buttons --- */

.btn {
    background-color: #444444;
    color: #dddad7;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #775153!important;

}
.btn_contact {
    background-color:transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.btn_contact:hover {
    background-color:#77515340;
}
.btn_contact:focus {
    box-shadow: none;
}

.bio_contact button img {
    max-width: 48px;
    margin: auto;
}

/* --- CAT ANIMATIONS --- */

#cat-size {
    height: 140px;
}
#cat-animation {
    width: 30%;
    margin-left: auto;
    cursor: pointer;
}
#lift_cat-animation {
    margin-top: -10%;
}
#sitting_cat-animation {
    max-width: 20%;
    margin-right: -6%;
    opacity: 0.3;
    display: inline-block;
}

/* --- Mobile fixed --- */

@media (max-width: 768px) {
    .main_about {
        padding: 0px;
    }
    body .container {
        margin-top:0px;
    }
    .bio_job_tech {
        width:100%;
    }
    .project img {

    }
    .bio_contact, .bio_skills {
        margin: 0px
    }
    #lift_cat-animation {
        margin-top: -8%;
    }
}