/* --- Main Settings --- */

body {
    background-color:#1A1A1A;
    color: #f1f1f1;
    font-family: 'Roboto', Arial, sans-serif;
}

/* --- About / Contact Col --- */

.about_col, .main_content {
    background-color: #262626;
    color: #F0F0F0;
    border: 1px solid #333333;
    box-shadow: 0 0 0 1px rgba(119, 81, 83, 0.4);
}

.bio_name blockquote {
    font-style: italic;
}
.bio_name blockquote span {
    font-style:normal;
    font-size: 14px;
}
.bio_about img {
    max-width: 240px;
}
.bio_contact img {
    max-width: 22px;
    margin-right: 6px;
}
.img-tel {
    max-width: 20px!important;
    margin-right: 6px;
}
.about_col ul {
    list-style-type:none;
}
.bio_skills, .bio_contact, .bio_competencies {
    background-color: #1e1e1e;
    border: 1px solid rgba(119, 81, 83, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.bio_contact a {
    color: #dddad7;
}
.bio_skills {
    background-image: url('../images/technology.png');
    background-size: 25%;
    background-position: top 6px left 6px;
    background-repeat: no-repeat;
}
.tech_skills_code {
    font-family: 'Fira Code', 'Courier New', monospace;
}

/* --- Navbar - Main Col --- */

.navbar {
    padding: 0px;
    text-align: center;
}
.navbar-nav .nav-item {
    width: 50%;
    background-color:#1e1e1e;
}
.navbar a, .project a {
    color: #C0C0C0;
    text-decoration: none;
    font-size: 28px;
}
.nav-link.active{
    color: #7b5e60;
    font-size: 28px;
    font-weight: bold;
    background-color: #262626!important;
    height:100%;
}
.navbar a:hover, .project a:hover {
    color: #c0c0c0ab;
}

/* --- Main Col --- */

.bio_job, .project {
    background-color: #1e1e1e;
    border: 1px solid #333333;
    padding: 18px;
    border-radius: 5px;
    height: 100%;
}

/* --- Bio Job / Job Detail --- */

.bio_job_description {
    color: #dddad7;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #121212;
    padding: 16px 8px;
    border: 1px solid #333333;
    border-radius: 5px;
}
.bio_job_data {
    padding: 0 5%;
}
.bio_job-date {
    font-size: 14px;
    pointer-events: none;
    -webkit-touch-callout: none; /* Prevent callout */
    -webkit-user-select: none; /* Prevent selection */
    -webkit-user-drag: none; /* Prevent dragging */
}

.modal-content {
    background-color: #2a2a2a;
    color: #dddad7;
    border: 1px solid #333333;
    box-shadow: 0 0 0 1px rgba(119, 81, 83, 0.8);
}
.modal-header, .modal-footer {
    font-weight: 600;
    font-size:26px;
    border-color: #333333;
    background-color: #1A1A1A ;
    color: #F0F0F0;
    padding: 16px 16px;

}

/* --- Buttons --- */

.btn {
    background-color: #121212ba;
    color: #dddad7;
    border: 1px solid #333333;
    box-shadow: 0 0 0 1px rgba(119, 81, 83, 0.5);
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #7b5e60!important;

}
.btn_contact {
    background-color:transparent;
    border: none;
    border-radius: 5px;
    padding: 12px;
}
.btn_contact:hover {
    background-color:#7376c740;
}
.btn_contact:focus {
    box-shadow: none;
}

.bio_contact button img {
    max-width: 48px;
    margin: auto;
}
.btn_contact_mail {
    text-decoration: underline;
    color: #7376c7;
    background-color: transparent!important;
    border-radius: 0;
    border: none!important;
    box-shadow: none!important;
    padding: 0;
}
.btn_contact_mail:hover, .btn_contact_mail:focus {
    color: #a1696c;
}
.btn_history {
    background-color: #1e1e1e;
}
.btn_history:hover, .btn_history:focus {
    color: #a1696c;
}
/* --- CAT ANIMATIONS --- */

#cat-animation {
    width: 30%;
    cursor: pointer;
}
#lift_cat-animation {
    margin: -8% auto;
    max-width: 240px;
}
#sitting_cat-animation {
    max-width: 20%;
    margin-right: -6%;
    opacity: 0.3;
    display: inline-block;
}


/* --- Mobile fixed --- */

@media (max-width: 768px) {
    body .container {
        margin-top:0px;
    }
    .bio_job_tech {
        width:100%;
    }

    .bio_contact, .bio_skills, .bio_competencies {
        margin: 0px
    }
    #lift_cat-animation {
        margin-top: -8%;
    }
    #cat-animation {
        width: 33%;
    }
    .bug_report .btn_contact {
        padding-top: 36px;
    }
    .bug_report .btn_contact p {
        font-size: 14px;
    }
    .about_col {
    height: auto;
    margin-bottom: 3rem;
    }
    .main_about {
    padding-right: 0px!important;
    }
    .container {
    padding: 6px;
    }
}