<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}My Flask App{% endblock %}</title>
</head>
<body class="custom-background">

    <div class="container">
        <div class="row">

            <div class="col-md-4 main_about">
                <div class="p-3 h-100 about_col">
                    <div class="bio_about mt-3">
                        <div class="bio_name text-center">
                            <h2 class="mb-2">Martina Boboková</h2>
                            <!--
                            <img src="/static/images/36.jpg" alt="photo" class="p-3 img-fluid mx-auto d-block rounded-circle">
                            -->
                            <blockquote class="d-inline-block">
                                „Believe you can and you're halfway there.“
                                <br>
                                <span class="d-block text-end">- Theodore Roosevelt</span>
                            </blockquote>
                        </div>
                    </div>

                    <div id="cat-size">
                        <div id="cat-animation"></div>
                    </div>

                    <div class="bio_contact row">

                        <div class="col">
                            <p class="mt-2">
                                <img src="/static/images/address.png" alt="photo" class="img-fluid">
                                Prague</p>
                            <p class="mt-2">
                                <img src="/static/images/phone.png" alt="photo" class="img-fluid">
                                <a class="text-decoration-none text-white" href="tel:+420778962765">778 962 765</a></p>
                        </div>

                        <div class="col text-end">
                            <button type="button" class="btn btn_contact" data-bs-toggle="modal"
                                    data-bs-target="#contactMeModal" data-bs-toggle="tooltip" title="Contact Me"
                                    aria-label="Contact Me">
                                    <img src="/static/images/communicate.png" alt="Contact Me">
                            </button>
                        </div>

                        <p class="">
                            <img src="/static/images/mail.png" alt="photo" class="img-fluid">
                            martina.bobokova@gmail.com</p>
                    </div>

                    <div class="bio_skills mt-5">
                        <h4 class="mt-4 mb-5 text-end">TECH EXPERIENCES</h4>
                        <pre><code>
{
  'Python': ['Flask', 'Django'],
  'VCS': ['Git', 'GitHub', 'GitLab'],
  'DB': ['MySQL', 'SQLite'],
  'FrontEnd': {
    'JavaScript': ['Node.js', 'jQuery'],
    'Google Apps Script || Cloud'': [''],
    'HTML': [''],
    'CSS': ['Sass', 'Bootstrap']
  },
  'IDEs': ['PyCharm', 'Visual Studio Code'],
  'Other': ['Jupyter', 'Linux', 'ASP'],
  'Tools': ['Jira', 'Trello', 'Figma']
}
                        </code></pre>
                    </div>
                    <div id="lift_cat-animation"></div>
                </div>
            </div>

            <div class="col-md-8 main_content">

                <nav class="navbar navbar-expand bg-dark">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'bio' %}active{% endif %}" aria-current="page" href="{{ url_for('bio') }}">Work Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'portfolio' %}active{% endif %}" href="{{ url_for('portfolio') }}">
                               Portfolio
                            </a>

                        </li>
                    </ul>
                </nav>

                <div class="p-4 h-100">
                    {% block content %}
                    <!-- Main content block, to be overridden by child templates -->
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>

    <script src="static/js/cat_animation_scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>

<!-- Modal block CONTACT ME -->

<div class="modal fade" id="contactMeModal" tabindex="-1" aria-labelledby="contactMeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="contactMeModalLabel">Contact Me</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" >
                    <div class="form-group mb-4">
                        <label for="sender">E-mail:</label>
                        <input class="form-control mb-3 mt-2" id="sender" name="sender" type="email" required>
                        <label for="message">Message:</label>
                        <textarea class="form-control mt-2" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto form-group">
                            <button class="btn btn-secondary" id="form_button" type="submit">Send E-mail</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- Flash success / error message after submit CONTACT ME form -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
                {% for category, message in messages %}
                    <div class="toast align-items-center bg-{{ category }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" id="toastMessage">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Flash success / error message script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show()); // Show each toast message automatically
        });
    </script>
<!-- Cat animation Lottie / Contact -->
<script>
    var animation = lottie.loadAnimation({
        container: document.getElementById('cat-animation'),
        path: 'static/animations/kitty.json',
        renderer: 'svg',
        loop: false,
        autoplay: false,
        name: "Kitty"
    });
    animation.setSpeed(0.7);

    // Event listener for mouse pointer
    document.getElementById('cat-animation').addEventListener('mouseenter', function() {
        animation.setDirection(1); // Ensure forward direction when hovered
        animation.play(); // Start the animation on mouse enter
    });

    // Reverse animation after completion and reset to initial state
    animation.addEventListener('complete', function() {
        if (animation.playDirection === 1) {
            // After playing forward, reverse it
            animation.setDirection(-1);
            animation.play();
        } else {
            // After reverse, reset to the first frame
            animation.goToAndStop(0, true);
        }
    });
</script>

<!-- Lift Cat animation Lottie / Tech -->
<script>
    var lift_animation = lottie.loadAnimation({
        container: document.getElementById('lift_cat-animation'),
        path: '/static/animations/liftcat.json',
        renderer: 'svg',
        loop: true,
        autoplay: true,
        name: "liftcat"
    });
    animation.setSpeed(0.7);
</script>

<!-- Sitting Cat animation Lottie / Jobs -->
<script>
    var sittingCatAnimation = lottie.loadAnimation({
        container: document.getElementById('sitting_cat-animation'),
        path: '/static/animations/sitting_cat.json',
        renderer: 'svg',
        loop: true,
        autoplay: true,
        name: "sitting_cat"
    });
</script>


</body>
</html>