{% extends "base.html" %}

{% block title %}Bio{% endblock %}

{% block content %}

<div class="bio_jobs" id="bio_jobs">
    {% for job in jobs %}
        <div class="bio_job my-4">
            <h4 class="">{{ job.position_name | safe }}</h4>
            <h5 class="">- {{ job.company | safe }}</h5><br>

            <div class="bio_job_tech mb-3">
                {{ job.tech | safe }}
            </div>

            <p>{{ job.job_description | safe }}</p>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#jobDetailModal" data-job="{{ job.job_detail }}" data-position="{{ job.position_name }}" data-start="{{ job.start_date }}" data-end="{{ job.end_date }}">
                    Read more...
                </button>
            </div>
        </div>
    {% endfor %}

    <!-- Button to toggle the visibility of the old jobs section -->
    <div class="d-flex justify-content-center">
        <button class="btn btn-secondary btn_history" type="button" data-bs-toggle="collapse" data-bs-target="#old-jobs-section" aria-expanded="false" aria-controls="old-jobs-section">
            I want to see ancient history...
        </button>
    </div>

    <!-- Collapsible section for old jobs -->
    <div class="collapse mt-3" id="old-jobs-section">
        {% for old_job in old_jobs %}
            <div class="bio_job my-4">
                <h4 class="">{{ old_job.position_name | safe }}</h4>
                <h5 class="">- {{ old_job.company | safe }}</h5><br>
                <p>{{ old_job.job_description | safe }}</p>
                <div class="d-flex justify-content-end">
                    <!-- Additional content if needed -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- Modal block JOB DESCRIPTION -->

<div class="modal fade" id="jobDetailModal" tabindex="-1" aria-labelledby="jobDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobDetailModalLabel">Job Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="jobPosition"></h5>
                <span id="jobDates"></span><br><br>
                <p id="jobDetail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var jobDetailModal = document.getElementById('jobDetailModal');
    jobDetailModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var jobDetail = button.getAttribute('data-job');
        var jobPosition = button.getAttribute('data-position');
        var startDate = button.getAttribute('data-start');
        var endDate = button.getAttribute('data-end');

        var modalTitle = jobDetailModal.querySelector('.modal-title');
        var modalBodyJobPosition = jobDetailModal.querySelector('#jobPosition');
        var modalBodyJobDates = jobDetailModal.querySelector('#jobDates');
        var modalBodyJobDetail = jobDetailModal.querySelector('#jobDetail');

        modalBodyJobPosition.innerHTML = jobPosition;
        modalBodyJobDates.innerHTML = startDate + ' - ' + endDate;
        modalBodyJobDetail.innerHTML = jobDetail;
    });
</script>

{% endblock %}
