{% extends "base.html" %}

{% block content %}

<div class="g-5 my-3">

    <div class="project my-4">
        <h4 class="mb-3">Blue elephant</h4>
        <div class="project-info row">
            <div class="col-md-8 ">
                <p class="pb-2">It is a habit tracking and goal-setting application that utilizes a Buzzer List
                    for recording daily activities and rating each day.
                </p>
                <h5 class="mt-3">Description:</h5>
                <p>Blue Elephant is a web application built using a React frontend and Node.js
                    backend with PostgreSQL database.
                </p>
                <div class="">
                    <a href="https://www.blueelephant.tech/">www.blueelephant.tech</a>
                    <br>
                    <a href="https://github.com/mbobokova/my_bio">GitHub Link...</a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid mx-auto d-block" src="/static/images/calendar_elephant.png" alt="">
            </div>
       </div>
    </div>

    <div class="project my-4">
        <h4 class="">CV Website</h4>
        <div class="project-info mb-3 row">
            <div class="col-md-8 ">
                <p class="pb-2">Is this Flask app</p>
                <h5>Description:</h5>
                <p>Flask-based CV app uses CSV files for data storage and HTML
                    templates for display. The backend, written in Python, handles routing and email
                    functionality, while the frontend consists Jinja2 templates.
                </p>
                <div class="">
                    <a href="https://github.com/mbobokova/my_bio">GitHub Link...</a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid mx-auto d-block" src="/static/images/portfolio.png" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}